/* slackey-regular - latin */
@font-face {
    font-family: 'Slackey';
    font-style: normal;
    font-weight: 400;
    src: url('./Fonts/slackey-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }