body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img_pollo_locco/img/test2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Slackey';
}

.canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

@media (min-width: 1440px) {
    #canvas {
        width: 1080px;
        height: 720px;
    }

    .startMenuBox {
        width: 1080px !important;
        height: 720px !important;
    }

    .impressumFLexBox {
        font-size: 22px;
    }

    .keyboardMenu {
        width: 1080px !important;
        height: 720px !important;
    }

    .KeyBoardIntroductionWrapper div {
        font-size: 22px;
    }

    .WinScreenEndImageBox img,
    .LoseScreenEndImageBox img {
        width: 1080px !important;
        height: 720px !important;
    }
}

@media (min-width: 2560px) {
    #canvas {
        width: 1920px;
        height: 1280px;
    }

    .WinScreenEndImageBox img,
    .LoseScreenEndImageBox img {
        width: 1920px !important;
        height: 1280px !important;
    }

    .startMenuBox {
        width: 1920px !important;
        height: 1280px !important;
    }

    .impressumFLexBox {
        font-size: 40px;
    }

    .startImg {
        width: 90% !important;
    }

    .keyboardMenu {
        width: 1920px !important;
        /* Entsprechend dem Canvas */
        height: 1280px !important;
        /* Entsprechend dem Canvas */
    }

    .KeyBoardIntroductionWrapper {
        padding: 0px 100px;
        box-sizing: border-box;
    }

    .KeyBoardIntroductionWrapper div {
        font-size: 28px;
    }

    .keyboardMenuButtons {
        right: -14% !important;
    }
}


.control-button {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    z-index: 10;
}

.control-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#leftButton {
    bottom: 20px;
    left: 20px;
}

#rightButton {
    bottom: 20px;
    left: 90px;
}

#jumpButton {
    bottom: 90px;
    right: 20px;
}

#throwButton {
    bottom: 20px;
    right: 20px;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

canvas {
    display: none;
}

.startMenuBox {
    display: flex;
    position: relative;
    width: 720px;
    height: 480px;
    background-image: url(./img_pollo_locco/img/9_intro_outro_screens/start/startscreen_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.MenuButtonsBox {
    display: flex;
    width: 720px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.startImg {
    width: 45%;
    cursor: pointer;
    transition: transform 0.3s;
}

.keyboardImg {
    width: 25%;
    cursor: pointer;
}

.keyboardImg2 {
    width: 15%;
    cursor: pointer;
}

.unmuteImg {
    width: 25%;
    cursor: pointer;
}

.unmuteImgCanvas {
    width: 52px;
    cursor: pointer;
    width: 5%;
    position: absolute;
    z-index: 10;
    right: 60%;
    top: 10px;
}

.startImg:hover {
    animation: hoverEffect 0.6s infinite alternate;
}

.keyboardImg:hover,
.unmuteImg:hover,
.restartButton:hover {
    animation: hoverEffectKeyBoard 0.6s infinite alternate;
}

@keyframes hoverEffectKeyBoard {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes hoverEffect {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.WinScreenEnd,
.LoseScreenEnd {
    width: 720px;
    height: 480px;
    background-image: url(./img_pollo_locco/img/backgroundImageForKeyBoardIntroduction.png);
    display: none;
}

.WinScreenEndImageBox,
.LoseScreenEndImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WinScreenEndImageBox img,
.LoseScreenEndImageBox img {
    height: 480px;
    width: 720px;
}

.keyboardMenu {
    height: 480px;
    width: 720px;
    background-image: url(./img_pollo_locco/img/backgroundImageForKeyBoardIntroduction.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.settingsButtonsWrapper {
    position: absolute;
    left: 73%;
    top: 4%;
}

.settingsButtonsFlexBox {
    display: flex;
    gap: 52px;
}

.startButtonWrapper {
    position: absolute;
    bottom: 8%;
    left: 13%;
}

.keyboardMenuButtons {
    position: absolute;
    right: -31%;
    top: 4%;
}

.KeyBoardIntroductionWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
}

.AnimationKeybindingsBox span {
    width: 60px;
    white-space: nowrap;
    font-weight: 700;
}

.KeyBoardIntroductionWrapper div {
    display: flex;
    align-items: center;
    gap: 30%;
}

.KeyBoardIntroductionWrapper img {
    width: 60px;
}

.KeyBoardIntroductionFirstBox {
    display: flex;
    justify-content: space-between !important;
    padding: 10px;
}

.KeyBoardIntroductionText {
    font-size: 30px;
    font-weight: 700;
}

.restartButton {
    margin-top: -120px;
    width: 110px !important;
    height: auto !important;
    display: flex;
    cursor: pointer;
}

.restartButtonCanvas {
    width: 52px;
    cursor: pointer;
    width: 5%;
    position: absolute;
    z-index: 10;
    right: 53%;
    top: 10px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .canvas-container {
        width: 100%;
    }

    .startMenuBox {
        width: 100%;
    }

    .startButtonWrapper {
        margin-top: 22%;
    }

    .keyboardMenu {
        width: 100%;
    }

    .WinScreenEnd {
        width: 100%;
    }

    .LoseScreenEnd {
        width: 100%;
    }

    .WinScreenEndImageBox img,
    .LoseScreenEndImageBox img {
        width: 100%;
    }

    .KeyBoardIntroductionText {
        font-size: 20px;
        font-weight: 700;
    }

    .KeyBoardIntroductionWrapper img {
        width: 50px;
    }

    .KeyBoardIntroductionWrapper {
        display: flex;
        margin: 0px 70px 0px 70px;
        flex-direction: column;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100%;
    }

    .canvas-container {
        height: 100%;
    }

    .startMenuBox {
        height: 100%;
    }

    .startButtonWrapper {
        margin-top: 22%;
    }

    .keyboardMenu {
        height: 100vh;
    }

    .WinScreenEnd {
        height: 100vh;
    }

    .LoseScreenEnd {
        height: 100vh;
    }

    .WinScreenEndImageBox img,
    .LoseScreenEndImageBox img {
        height: 100vh;
    }

    .KeyBoardIntroductionText {
        font-size: 20px;
        font-weight: 700;
    }

    .KeyBoardIntroductionWrapper img {
        width: 50px;
    }

    .KeyBoardIntroductionWrapper {
        display: flex;
        margin: 0px 70px 0px 70px;
        flex-direction: column;
    }
}

.rotate-device-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

.impressumFLexBox {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.impressumFLexBox span {
    cursor: pointer;
}

.impressumFLexBox span:hover {
    scale: 1.2;
}

/* Centering text content */
.infoBoxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    text-align: center;
    white-space: pre-line;
}

.infoBoxContent h2 {
    font-size: 52px;
}

.infoBoxContent p {
    font-size: 22px;
}

/* Style for the info boxes (Impressum and Datenschutz) */
.infoBox {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 5%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.infoBoxHeader {
    position: absolute;
    top: 2%;
    left: 2%;
}

.closeImg {
    width: 13%;
    height: auto;
    cursor: pointer;
}