body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img_pollo_locco/img/test2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Slackey';
}

.canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.control-button {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    z-index: 10;
}

.control-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#leftButton {
    bottom: 20px;
    left: 20px;
}

#rightButton {
    bottom: 20px;
    left: 90px;
}

#jumpButton {
    bottom: 90px;
    right: 20px;
}

#throwButton {
    bottom: 20px;
    right: 20px;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

canvas {
    display: none;
}

.startMenuBox {
    display: flex;
    width: 720px;
    height: 480px;
    background-image: url(./img_pollo_locco/img/9_intro_outro_screens/start/startscreen_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.MenuButtonsBox {
    display: flex;
    width: 720px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.startImg {
    width: 154px;
    cursor: pointer;
    transition: transform 0.3s;
}

.keyboardImg {
    width: 50px;
    cursor: pointer;
}

.unmuteImg {
    width: 52px;
    cursor: pointer;
}

.unmuteImgCanvas {
    width: 52px;
    cursor: pointer;
    width: 5%;
    position: absolute;
    z-index: 10;
    right: 60%;
    top: 10px;
}

.startImg:hover {
    animation: hoverEffect 0.6s infinite alternate;
}

.keyboardImg:hover,
.unmuteImg:hover,
.restartButton:hover {
    animation: hoverEffectKeyBoard 0.6s infinite alternate;
}

@keyframes hoverEffectKeyBoard {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes hoverEffect {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.WinScreenEnd,
.LoseScreenEnd {
    width: 720px;
    height: 480px;
    background-image: url(./img_pollo_locco/img/backgroundImageForKeyBoardIntroduction.png);
    display: none;
}

.WinScreenEndImageBox,
.LoseScreenEndImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WinScreenEndImageBox img,
.LoseScreenEndImageBox img {
    height: 480px;
    width: 720px;
}

.keyboardMenu {
    height: 480px;
    width: 720px;
    background-image: url(./img_pollo_locco/img/backgroundImageForKeyBoardIntroduction.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.settingsButtonsWrapper {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: 25px;
}

.settingsButtonsFlexBox {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.startButtonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 720px - 51px;
    margin-top: 30%;
    margin-left: 22%;
}

.keyboardMenuButtons {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: 25px;
}

.KeyBoardIntroductionWrapper {
    display: flex;
    margin: 20px 70px 0px 70px;
    flex-direction: column;
}

.AnimationKeybindingsBox span {
    width: 60px;
    white-space: nowrap;
    font-weight: 700;
}

.KeyBoardIntroductionWrapper div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.KeyBoardIntroductionWrapper img {
    width: 60px;
}

.KeyBoardIntroductionFirstBox {
    display: flex;
    justify-content: space-between !important;
    padding: 10px;
}

.KeyBoardIntroductionText {
    font-size: 30px;
    font-weight: 700;
}

.restartButton {
    margin-top: -120px;
    width: 110px !important;
    height: auto !important;
    display: flex;
    cursor: pointer;
}

.restartButtonCanvas {
    width: 52px;
    cursor: pointer;
    width: 5%;
    position: absolute;
    z-index: 10;
    right: 53%;
    top: 10px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .canvas-container {
        width: 100%;
    }

    .startMenuBox {
        width: 100%;
    }

    .startButtonWrapper {
        margin-top: 22%;
    }

    .keyboardMenu {
        width: 100%;
    }

    .WinScreenEnd {
        width: 100%;
    }

    .LoseScreenEnd {
        width: 100%;
    }

    .WinScreenEndImageBox img,
    .LoseScreenEndImageBox img {
        width: 100%;
    }

    .KeyBoardIntroductionText {
        font-size: 20px;
        font-weight: 700;
    }

    .KeyBoardIntroductionWrapper img {
        width: 50px;
    }

    .KeyBoardIntroductionWrapper {
        display: flex;
        margin: 0px 70px 0px 70px;
        flex-direction: column;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100%;
    }

    .canvas-container {
        height: 100%;
    }

    .startMenuBox {
        height: 100%;
    }

    .startButtonWrapper {
        margin-top: 22%;
    }

    .keyboardMenu {
        height: 100vh;
    }

    .WinScreenEnd {
        height: 100vh;
    }

    .LoseScreenEnd {
        height: 100vh;
    }

    .WinScreenEndImageBox img,
    .LoseScreenEndImageBox img {
        height: 100vh;
    }

    .KeyBoardIntroductionText {
        font-size: 20px;
        font-weight: 700;
    }

    .KeyBoardIntroductionWrapper img {
        width: 50px;
    }

    .KeyBoardIntroductionWrapper {
        display: flex;
        margin: 0px 70px 0px 70px;
        flex-direction: column;
    }
}

.rotate-device-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

.impressumFLexBox {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.impressumFLexBox span {
    cursor: pointer;
}

.impressumFLexBox span:hover {
    scale: 1.2;
}

/* Centering text content */
.infoBoxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    text-align: center;
    white-space: pre-line;
    padding: 50px;
}

/* Style for the info boxes (Impressum and Datenschutz) */
.infoBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.infoBoxHeader {
    position: absolute;
    top: 10px;
    left: 10px;
}

.closeImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
